/* CSS */
canvas {
	margin-left: 200px;
	margin-top: 20px;
	position: absolute;
	left: 60%; 
	margin-left: -300px;
}

form {
	position: absolute;
	margin-left: 100px;
	margin-top: 400px;
	float: left;
	display: grid;
	grid-template-columns: 300px 200px;
    grid-gap: 3px 11px;
}

label {
    grid-column: 1 / 2;
    text-align: right;
}
 
input {
    grid-column: 2 / 3;
}

button {
	color: black;
	font-size: 30px;
	background-color: lightblue;
	width: 200px;
	height: 50px; 
	border: none;
	grid-column: 2 / 3;	
	align-content: center;
}

button:hover {
	color: darkblue;
	background-color: white;
}

.printing {
    display: none;
    overflow: hidden;
}